{% extends 'base.html' %}
{% block content %}
<div style="height: 40%; text-align: center;">
    <div>
        <h1>Method {{ method }}</h1>
        {% for new_hello_world in new_hello_list %}
        <h3>{{ new_hello_world.text }}</h3>
        {% endfor %}
        <form action="/account/hello_world/" method="post">
            <div>
                <span>token value: {{ csrf_token }}</span>

                {% csrf_token %}
            </div>
            <div>
                <input type="text" name="input_text">
                <input type="submit" value="전송" class="btn btn-primary rounded-pill px-4">
            </div>
        </form>
    </div>
</div>
{% endblock %}