{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>

        .container{
            padding: 0;
            margin: 0 auto; {# 좌우 정렬 오토 #}
        }

        .container div {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
            flex-direction: column;
            {#box-shadow: 0 0 .5rem darkgray;#}
            {# 그림자 효과 제거#}
        }

        .container img {
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            {# 외곡없는 이미지로 변경하는 방법 : object-fit: cover #}
            border-radius: 1rem;
        }

    </style>

    <div class="container my-4">

        {% for project in project_list %}
            {% if project.is_private is False %}
                <div>

                    <a href="{% url 'projectapp:detail' pk=project.pk %}">
                        <img src="{{ project.image.url }}" alt="">
                    </a>

                    <span class="NNS_B m-2">{{ project.name | truncatechars:7 }}</span>
                    {# truncatechars:n 글자를 자르는 장고의 기능 #}
                    {#  장고의 내장 기능#}
                </div>
            {% endif %}
        {% endfor %}

    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>

    {% include 'snippets/pagination.html' %}

    <div class="text-center my-5">
        <a href="{% url 'projectapp:create' %}"
           class="btn btn-outline-dark rounded-pill px-5">
            Create Project
        </a>
    </div>




{% endblock %}